body {
    background-color: darkgrey;
    background-image: url(imagens\ -\ Copia/teste.png);
}

main {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 5px;

}

img {
    width: 100%;
}